In [1]:
import pandas as pd

In [58]:
df=pd.read_csv("practo.csv")

In [59]:
df.head()

,DocterName,Specialist,Experience,HospitalName,HospitalArea,AppointmentFee,RecommendPercentage,No-Of-Reviews
0,Dr. B Varun Rao,Gastroenterologist18 years experience overall,18 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,91%,93 Patient Stories
1,Dr. Sudarshan Reddy K,Gastroenterologist16 years experience overall,16 years experience overall,Tx Hospitals,"Uppal,Hyderabad",₹600,100%,NaN
2,Dr. Raghuram Kondala,Gastroenterologist18 years experience overall,18 years experience overall,Continental Hospitals,"Gachibowli,Hyderabad",₹900,96%,65 Patient Stories
3,Dr. Ramesh Srinivasan,Gastroenterologist27 years experience overall,27 years experience overall,Apollo Hospitals,"Jubilee Hills,Hyderabad",₹800,97%,18 Patient Stories
4,Dr. Moka Praneeth,Gastroenterologist14 years experience overall,14 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,90%,10 Patient Stories

In [66]:
df['Specialist'] = df['Specialist'].replace('Gastroenterologist.*', 'Gastroenterologist', regex=True)

In [67]:
df['Specialist'] = df['Specialist'].replace('Dentist.*', 'Dentist', regex=True)

In [68]:
df['Specialist'] = df['Specialist'].replace('Gynecologist/Obstetrician.*', 'Gynecologist/Obstetrician', regex=True)

In [69]:
df['Specialist'] = df['Specialist'].replace('General Physician.*', 'General Physician', regex=True)

In [70]:
df['Specialist'] = df['Specialist'].replace('Ear-Nose-Throat \(ENT\) Specialist.*', 'Ear-Nose-Throat(ENT)', regex=True)

In [71]:
df['Specialist'] = df['Specialist'].replace('Dermatologist.*', 'Dermatologist', regex=True)

In [72]:
df['Specialist'] = df['Specialist'].replace('Cardiologist.*', 'Cardiologist', regex=True)

In [73]:
df['Specialist'].value_counts()

Gastroenterologist           340
Dentist                      340
Cardiologist                 340
General Physician            340
Dermatologist                340
Ear-Nose-Throat(ENT)         340
Gynecologist/Obstetrician    340
Name: Specialist, dtype: int64

In [74]:
df.head()

,DocterName,Specialist,Experience,HospitalName,HospitalArea,AppointmentFee,RecommendPercentage,No-Of-Reviews,Specialists
0,Dr. B Varun Rao,Gastroenterologist,18 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,91%,93 Patient Stories,Gastroenterologist18 years experience overall
1,Dr. Sudarshan Reddy K,Gastroenterologist,16 years experience overall,Tx Hospitals,"Uppal,Hyderabad",₹600,100%,NaN,Gastroenterologist16 years experience overall
2,Dr. Raghuram Kondala,Gastroenterologist,18 years experience overall,Continental Hospitals,"Gachibowli,Hyderabad",₹900,96%,65 Patient Stories,Gastroenterologist18 years experience overall
3,Dr. Ramesh Srinivasan,Gastroenterologist,27 years experience overall,Apollo Hospitals,"Jubilee Hills,Hyderabad",₹800,97%,18 Patient Stories,Gastroenterologist27 years experience overall
4,Dr. Moka Praneeth,Gastroenterologist,14 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,90%,10 Patient Stories,Gastroenterologist14 years experience overall

In [48]:
df.isnull().sum()

DocterName               0
Specialist               0
Experience               0
HospitalName             0
HospitalArea             0
AppointmentFee           0
RecommendPercentage     80
No-Of-Reviews          114
Specialists              0
dtype: int64

In [51]:
df.drop(['Specialists'], axis=1, inplace=True)

In [52]:
df.head()

,DocterName,Specialist,Experience,HospitalName,HospitalArea,AppointmentFee,RecommendPercentage,No-Of-Reviews
0,Dr. B Varun Rao,Gastroenterologist,18 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,91%,93 Patient Stories
1,Dr. Sudarshan Reddy K,Gastroenterologist,16 years experience overall,Tx Hospitals,"Uppal,Hyderabad",₹600,100%,NaN
2,Dr. Raghuram Kondala,Gastroenterologist,18 years experience overall,Continental Hospitals,"Gachibowli,Hyderabad",₹900,96%,65 Patient Stories
3,Dr. Ramesh Srinivasan,Gastroenterologist,27 years experience overall,Apollo Hospitals,"Jubilee Hills,Hyderabad",₹800,97%,18 Patient Stories
4,Dr. Moka Praneeth,Gastroenterologist,14 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,90%,10 Patient Stories

In [75]:
df['Experience'] = df['Experience'].str.replace(r'(\d+\s*years)\s*experience\s*overall', r'\1')

C:\Users\dell\AppData\Local\Temp/ipykernel_2380/4023629979.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Experience'] = df['Experience'].str.replace(r'(\d+\s*years)\s*experience\s*overall', r'\1')

In [79]:
df.drop(['Specialists'],axis=1,inplace=True)

In [80]:
df.head()

,DocterName,Specialist,Experience,HospitalName,HospitalArea,AppointmentFee,RecommendPercentage,No-Of-Reviews
0,Dr. B Varun Rao,Gastroenterologist,18 years,Medicover Hospitals,"Hitech City,Hyderabad",₹500,91%,93 Patient Stories
1,Dr. Sudarshan Reddy K,Gastroenterologist,16 years,Tx Hospitals,"Uppal,Hyderabad",₹600,100%,NaN
2,Dr. Raghuram Kondala,Gastroenterologist,18 years,Continental Hospitals,"Gachibowli,Hyderabad",₹900,96%,65 Patient Stories
3,Dr. Ramesh Srinivasan,Gastroenterologist,27 years,Apollo Hospitals,"Jubilee Hills,Hyderabad",₹800,97%,18 Patient Stories
4,Dr. Moka Praneeth,Gastroenterologist,14 years,Medicover Hospitals,"Hitech City,Hyderabad",₹500,90%,10 Patient Stories

In [81]:
df.to_csv('practoHealtheda.csv',index=False)

In [76]:
df['Experience'].value_counts()

23 years                           204
26 years                           197
18 years                           136
27 years                           102
28 years                           102
15 years                           102
29 years                           102
24 years                           102
16 years                           102
22 years                           102
17 years                            75
41 years                            68
35 years                            68
19 years                            68
45 years                            68
13 years                            68
11 years                            68
20 years                            68
21 years                            68
34 years                            34
Special Interest in Diabetology     34
9 years                             34
14 years                            34
38 years                            34
48 years                            34
36 years                            34
44 years                            34
33 years                            34
51 years                            34
43 years                            34
46 years                            34
47 years                            34
25 years                            34
32 years                            34
Name: Experience, dtype: int64

In [78]:
df.head()

,DocterName,Specialist,Experience,HospitalName,HospitalArea,AppointmentFee,RecommendPercentage,No-Of-Reviews,Specialists
0,Dr. B Varun Rao,Gastroenterologist,18 years,Medicover Hospitals,"Hitech City,Hyderabad",₹500,91%,93 Patient Stories,Gastroenterologist18 years experience overall
1,Dr. Sudarshan Reddy K,Gastroenterologist,16 years,Tx Hospitals,"Uppal,Hyderabad",₹600,100%,NaN,Gastroenterologist16 years experience overall
2,Dr. Raghuram Kondala,Gastroenterologist,18 years,Continental Hospitals,"Gachibowli,Hyderabad",₹900,96%,65 Patient Stories,Gastroenterologist18 years experience overall
3,Dr. Ramesh Srinivasan,Gastroenterologist,27 years,Apollo Hospitals,"Jubilee Hills,Hyderabad",₹800,97%,18 Patient Stories,Gastroenterologist27 years experience overall
4,Dr. Moka Praneeth,Gastroenterologist,14 years,Medicover Hospitals,"Hitech City,Hyderabad",₹500,90%,10 Patient Stories,Gastroenterologist14 years experience overall

In [15]:
df['Specialist']

0           Gastroenterologist18 years experience overall
1           Gastroenterologist16 years experience overall
2           Gastroenterologist18 years experience overall
3           Gastroenterologist27 years experience overall
4           Gastroenterologist14 years experience overall
                              ...
2375    Gynecologist/Obstetrician20 years experience o...
2376    Gynecologist/Obstetrician29 years experience o...
2377    Gynecologist/Obstetrician32 years experience o...
2378    Gynecologist/Obstetrician26 years experience o...
2379    Gynecologist/Obstetrician29 years experience o...
Name: Specialist, Length: 2380, dtype: object

In [20]:
df['Specialist'].s

0       [Gastroenterologist18 years, experience, overall]
1       [Gastroenterologist16 years, experience, overall]
2       [Gastroenterologist18 years, experience, overall]
3       [Gastroenterologist27 years, experience, overall]
4       [Gastroenterologist14 years, experience, overall]
                              ...
2375    [Gynecologist/Obstetrician20 years, experience...
2376    [Gynecologist/Obstetrician29 years, experience...
2377    [Gynecologist/Obstetrician32 years, experience...
2378    [Gynecologist/Obstetrician26 years, experience...
2379    [Gynecologist/Obstetrician29 years, experience...
Name: Specialist, Length: 2380, dtype: object

In [21]:
df['profession'] = df['Specialist'].str.extract(r'([\w\s]+)\d')

In [22]:
df['profession']

0       Gastroenterologist1
1       Gastroenterologist1
2       Gastroenterologist1
3       Gastroenterologist2
4       Gastroenterologist1
               ...
2375          Obstetrician2
2376          Obstetrician2
2377          Obstetrician3
2378          Obstetrician2
2379          Obstetrician2
Name: profession, Length: 2380, dtype: object

In [29]:
df['profession'].str.replace(r'([\w\s]+)\d', r'\1',regex=True)

0       Gastroenterologist
1       Gastroenterologist
2       Gastroenterologist
3       Gastroenterologist
4       Gastroenterologist
               ...
2375          Obstetrician
2376          Obstetrician
2377          Obstetrician
2378          Obstetrician
2379          Obstetrician
Name: profession, Length: 2380, dtype: object

In [30]:
df['profession'].value_counts()

Dentist2                                             238
Gastroenterologist1                                  204
Obstetrician2                                        192
Dermatologist1                                       170
 Specialist2                                         148
Cardiologist4                                        146
General Physician1                                   138
Gastroenterologist2                                  136
Cardiologist2                                        114
 Specialist1                                         102
Dermatologist2                                        90
Dentist1                                              89
Obstetrician1                                         80
General Physician2                                    78
Obstetrician3                                         68
 Specialist3                                          68
General Physician4                                    56
General Physician3                                    46
Dermatologist4                                        34
Dermatologist3                                        34
Cardiologist1                                         34
Cardiologist3                                         34
General PhysicianSpecial Interest in Diabetology1     22
 Specialist                                           22
Dentist                                               13
Dermatologist                                         12
Cardiologist                                          12
Name: profession, dtype: int64

In [38]:
df['experience']=df['Experience'].str.extract(r'(\d+)')

In [39]:
df.head()

,DocterName,Specialist,Experience,HospitalName,HospitalArea,AppointmentFee,RecommendPercentage,No-Of-Reviews,profession,experience
0,Dr. B Varun Rao,Gastroenterologist18 years experience overall,18 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,91%,93 Patient Stories,Gastroenterologist1,18
1,Dr. Sudarshan Reddy K,Gastroenterologist16 years experience overall,16 years experience overall,Tx Hospitals,"Uppal,Hyderabad",₹600,100%,NaN,Gastroenterologist1,16
2,Dr. Raghuram Kondala,Gastroenterologist18 years experience overall,18 years experience overall,Continental Hospitals,"Gachibowli,Hyderabad",₹900,96%,65 Patient Stories,Gastroenterologist1,18
3,Dr. Ramesh Srinivasan,Gastroenterologist27 years experience overall,27 years experience overall,Apollo Hospitals,"Jubilee Hills,Hyderabad",₹800,97%,18 Patient Stories,Gastroenterologist2,27
4,Dr. Moka Praneeth,Gastroenterologist14 years experience overall,14 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,90%,10 Patient Stories,Gastroenterologist1,14

In [40]:
df.drop(['profession','experience'], axis=1, inplace=True)

In [41]:
df.head()

,DocterName,Specialist,Experience,HospitalName,HospitalArea,AppointmentFee,RecommendPercentage,No-Of-Reviews
0,Dr. B Varun Rao,Gastroenterologist18 years experience overall,18 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,91%,93 Patient Stories
1,Dr. Sudarshan Reddy K,Gastroenterologist16 years experience overall,16 years experience overall,Tx Hospitals,"Uppal,Hyderabad",₹600,100%,NaN
2,Dr. Raghuram Kondala,Gastroenterologist18 years experience overall,18 years experience overall,Continental Hospitals,"Gachibowli,Hyderabad",₹900,96%,65 Patient Stories
3,Dr. Ramesh Srinivasan,Gastroenterologist27 years experience overall,27 years experience overall,Apollo Hospitals,"Jubilee Hills,Hyderabad",₹800,97%,18 Patient Stories
4,Dr. Moka Praneeth,Gastroenterologist14 years experience overall,14 years experience overall,Medicover Hospitals,"Hitech City,Hyderabad",₹500,90%,10 Patient Stories

In [43]:
df['HospitalArea'].value_counts()

Jubilee Hills,Hyderabad       324
Hitech City,Hyderabad         272
Gachibowli,Hyderabad          260
Banjara Hills,Hyderabad       227
Secunderabad,Hyderabad        213
Kondapur,Hyderabad            148
Chanda Nagar,Hyderabad        136
Hyderguda,Hyderabad            68
Kukatpally,Hyderabad           68
Lingampally,Hyderabad          68
Ameerpet,Hyderabad             56
Himayat Nagar,Hyderabad        34
West Marredpally,Hyderabad     34
Khajaguda,Hyderabad            34
Uppal,Hyderabad                34
Kothapet,Hyderabad             34
Nacharam,Hyderabad             34
Miyapur,Hyderabad              34
Chaitanyapuri,Hyderabad        34
Nallagandla,Hyderabad          33
Manikonda,Hyderabad            33
KPHB,Hyderabad                 24
Attapur,Hyderabad              24
Karkhana,Hyderabad             22
LB Nagar,Hyderabad             21
Nizampet,Hyderabad             13
SR Nagar,Hyderabad             13
Malkajgiri,Hyderabad           13
AS Rao Nagar,Hyderabad         12
Balkampet,Hyderabad            12
Habsiguda,Hyderabad            12
Suchitra Circle,Hyderabad      12
Tolichowki,Hyderabad           12
Panjagutta,Hyderabad           12
Name: HospitalArea, dtype: int64